<div class="container">
    <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
            <p>Many Kenyans yesterday turned to social media to express their frustrations, with some of the new requirements for registration, as others questioned the motive behind the directive, as well as its timing. “Please, post here the exact instructions from CA so that we are sure you are not being overzealous about a very simple direction,” Kenya’s High Commissioner to the United Kingdom Manoah Esipisu posted on his Twitter handle, tagging Safaricom. </p>
        </div>
    </div>
</div>